/*All sections styling*/
body{
    color: crimson;
}
/*Word puzzle styling*/
#wordinput{
    display: block;
  }
#wordoutput{
    display: none;
  }
  /*Groceries styling*/
  #show-groceries{
    display: none;
  }