body{
    background-color: azure;
    margin-top: 50px;
}
h1{
    text-align: center;
    color: crimson;
    padding: 15px;
}
.form-group{
    padding: 10px;
}
.form-group label{
    margin-left: 20px;
}
.row{
    padding: 10px;
    justify-content: space-between;
}
.row h3{
    margin-left:90px;
}
#output-balance{
    margin-left: 100px;
}
#confirm2{
    margin-left: 20px;
}